/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    font-family: 'M PLUS Rounded 1c', sans-serif;    /* Google Fonts 追加 */
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}

html {
    font-size: 62.5%;    /* 追加 */
    box-sizing: border-box;    /* 追加 */
}

body {
    font-size: 1.6em;    /* 追加 */
    line-height:1;
    background-color: #F2E9E4;    /* 追加 */
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* ここから .container */
.container {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}

/* ここから header */
header {
    text-align: center;
    background-color: #4f6d7a;
    margin-bottom: 40px;
}

header h1 {
    color: #fff;
    padding: 20px 0;
}


/* ここから .calc-wrapper */
.calc-wrapper {
    margin-bottom: 40px;
}

.top-text {
    text-align: center;
    line-height: 1.5;
    margin: 0 20px 40px;
}

.top-text p {
    color: #666666;
    text-align: left;
    display: inline-block;    /* ボーダーを要素の大きさに合わせるため */
    border: 1px solid #4F6D7A;
    padding: 10px 0;
}

.calc {
    text-align: center;
}

.calc input {
    border: none;    /* ボーダーを消す */
    border-radius: 5px;    /* 角を丸める */
    box-shadow: 0 0 0 1px #AAAAAA;    /* ボーダーの代わりに影を付ける（ボーダーだとfocus時にゆがむ） */
}

/* input 入力中の表示 */
.calc input:focus {
    border: none;
    outline: 0;    /* アウトラインはボーダーの外側に既定で表示されるラインで、↓ 影を付けているので不要 */
    box-shadow: 0 0 3px 1px #FC7A1E;    /* 入力中は青色の影を表示する */
}

.calc span {
    vertical-align: middle;    /* フォームと文字の縦位置のずれを修正 */
    margin-left: 3px;
}

.calc button {
    color: #fff;
    background-color: #4F6D7A;
    cursor: pointer;    /* カーソルを乗せた時に指にする */
    border: none;
    border-radius: 5px;
    padding: 0 7px;
    margin-left: 10px;
}