/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    font-family: 'M PLUS Rounded 1c', sans-serif; /* Google Fonts 追加 */
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
    list-style: none; /* 追加 */
}

html {
    height: 100%; /* フッターを最下部に固定するため */
    font-size: 62.5%; /* 追加 */
    box-sizing: border-box; /* 追加 */
}

body {
    height: 100%; /* フッターを最下部に固定するため */
    color: #555555; /* 追加 */
    font-size: 1.6em; /* 追加 */
    line-height:1;
    background-color: #F2E9E4; /* 追加 */
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* ここから .container */
.container {
    max-width: 980px;
    padding: 0 10px;
    margin: 0 auto 40px;
}

/* ここから header */
header {
    text-align: center;
    background-color: #4f6d7a;
    margin-bottom: 40px;
}

header h1 {
    color: #fff;
    padding: 20px 0;
}


/* ここから .calc-wrapper */
.top-text {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 40px;
}

.top-text p {
    text-align: left;
    border: 1px solid #4F6D7A;
    border-radius: 5px; /* 角を丸める */
    padding: 10px 15px;
}

.calc {
    text-align: center;
}

.calc input {
    border: none; /* ボーダーを消す */
    border-radius: 5px; /* 角を丸める */
    box-shadow: 0 0 0 1px #AAAAAA; /* ボーダーの代わりに影を付ける（ボーダーだとfocus時にゆがむ） */
    padding: 3px 3px;
}

/* input 入力中の表示 */
.calc input:focus {
    border: none;
    outline: 0; /* アウトラインはボーダーの外側に既定で表示されるラインで、↓ 影を付けているので不要 */
    box-shadow: 0 0 3px 1px #FC7A1E; /* 入力中はオレンジ色の影を表示する */
}

.calc span {
    vertical-align: middle; /* フォームと文字の縦位置のずれを修正 */
    margin-left: 3px;
}

.calc button {
    color: #fff;
    background-color: #4F6D7A;
    cursor: pointer; /* カーソルを乗せた時に指にする */
    border: 1px solid #4F6D7A;
    border-radius: 5px;
    padding: 0 7px;
    margin-left: 8px;
    transition: .3s; /* ホバー時に0.3秒かけてアニメーションする */
}

.calc button:hover { /* ホバー時はカラーを反転する */
    color: #4F6D7A;
    background-color: #fff;
}

/* ここから #result-wrapper */
#result-wrapper {
    display: none;
    background-color: #fff;
    border-radius: 5px;
}

.result-title {
    text-align: center;
    padding:30px 0;
}

.result-title h2 {
    font-size: 2.8rem;
    letter-spacing: 0.08em;
}

.result-title span {
    color: #000000;
}

.result-text {
    display: flex;
    padding-bottom: 30px;
}

.result-text h3 {
    font-size: 2rem;
    padding-bottom: 12px
}

.result-text li {
    padding-bottom: 2px;
    margin-bottom: 10px;
}

.result-text span {
    color: #000000;
    font-weight: bold; /* 金額だけ太字にする */
    letter-spacing: 0.05em;
}

.left {
    flex: 1;
    padding: 0 15px;
}

.right {
    flex: 1;
    padding: 0 15px;
}

.result {
    background-color: #EEEEEE;
    border-radius: 5px;
    padding:4px 0;
    margin-bottom: 10px;
}

.result-first {
    padding-bottom: 10px;
}

.purple {
    border-bottom: 2px solid #98009a;
}

.green {
    border-bottom: 2px solid #109619;
}

.yellow {
    border-bottom: 2px solid #fe9900;
}

.red {
    border-bottom: 2px solid #dc3812;
}

.blue {
    border-bottom: 2px solid #3266cc;
}

.caution {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 0 15px 5px;
}


/* ここから footer */
footer {
    color: #fff;
    text-align: center;
    background-color: #4f6d7a;
    position: sticky; /* フッターを最下部に固定するため */
    top: 100vh; /* フッターを最下部に固定するため */
    padding: 20px 0;
}